/* VARIABLES */

:root{
  --cream: #f5efe6;
  --olive: #3a5a40;
  --black: #000000;
  --soft-beige: #E9D8C3;
  --soft-blue: #6C63FF;
  --blue: #2f5d8a;
}

/* BASE*/

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cream);
}

main{
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;
}

header{
  display: flex;
  justify-content: center;
  background-color: var(--blue);
  padding: 10px;
}

footer{
  background-color: var(--blue);
  color: var(--soft-beige);
  text-align: center;
  padding: 10px;
}

h1,
h2{
  text-align: center;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th,
td{
  border-bottom: 1px solid var(--black);
  padding: 8px;
  text-align: center;
}

figure figcaption{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* CLASES*/

.contenido{
  background-color: var(--soft-beige);
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}
.perros-dato{
  text-align: center;
}

.perros-dato img{
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 10px auto;
}

.galeria{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galeria figure{
  margin: 10px;
  text-align: center;
}

.galeria img{
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

.tabla-responsive{
  overflow-x: auto;
}

.tabla-responsive table{
  width: 100%;
  min-width: 500px;
}

/* IDS */

#navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

#navbar a{
  text-decoration: none;
  color: var(--soft-beige);
  padding: 8px 10px;
  display: inline-block;
 
}

#navbar a:hover,
#navbar a:active{
  background-color: var(--black);
  border-radius: 5px;
}

#form-contacto form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#form-contacto input,
#form-contacto select,
#form-Contacto textarea{
  padding: 10px;
}

#form-contacto button{
  background-color: var(--soft-blue);
  color: whitesmoke;
  border: none;
  border-radius: 6px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

#form-contacto button:hover{
  background-color: var(--olive);
}

#intro-galeria blockquote{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 18px;
}

/* MEDIA QUERIES */

@media (min-width:700px){

  .perros-dato{
    display: inline-block;
    margin: 10px;
    vertical-align: top;
  }

  .perros-dato img{
    width: 300px;
    height: 300px;
  }

  .galeria{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #form-contacto form{
    max-width: 600px;
    margin: auto;
  }
}